
</div>
<footer>
    
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. </h6>
</footer>
<!-- Script-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>

</body>
</html>
