<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Porfolio website</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
 
<body>
    <img src="/Assets/images/logo.png" class="pr-1"/>
    <!-- Main content-->
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
        
        <a class="navbar-brand" href="/">Porfolio website </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            
        <li><a href="/home">Home Page</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact me</a></li>
        <li><a href="/Services">Services page</a></li>
        <li><a href="/project">Projects Page</a></li>

        <!-- Appear welcome nav when successful login -->
        <% if(currentUser != null) { %>
            <li><a href="/posts">Business Contact Page View</a></li>
            <li><a href="#">Welcome <%= currentUser.username %> !</a></li>
            <li><a href="/logout">Logout</a></li>
        <%}%>

        <% if(currentUser == null) { %> 
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
        <% } %>
        </ul>
    </div>
</div>
 
<div class="container">

<% if(error && error.length > 0) { %>
<div class="alert alert-danger" role="alert">
    <%= error %>


</div>
<% } %>


<% if(info && info.length > 0) { %>
    <div class="alert alert-info" role="alert">
        <%= info %>
    
    
    </div>
    <% } %>

