<!--About page-->
<%- include('../_partial/_header'); -%>

<h1>Welcome to the about page</h1>
<div style = "position:relative; left:10px; top:2px;">
<h2> My name is Nguyen Hoang Long - 301085990 </h2>
<img src="/Assets/images/photo.jpg" class="pr-1"/>
</div>
<h3>My name is Nguyen Hoang Long. I'm 21 years old now. I'm a software engineering second-year student at Centennial College. I moved to Toronto because the software is my passion, and this is the place to find a passionate, innovative ad community.</h3>
<h3><a href="/Assets/images/Resume.pdf">Here is my resume </a> </h3>


<%- include ('../_partial/_footer'); -%>