<!--Project Page-->
<%- include('../_partial/_header'); -%>
<!--List of 3 inteesting projects-->
<h3> First project</h3>

<img src="/Assets/images/first.jpg" class="pr-8"/>

<h3>On this project, I create a navbar by using HTML and CSS</h3>
<br>
<br>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h3> Second project</h3>

<img src="/Assets/images/second.jpg" class="pr-8"/>

<h3>On this project, I create the location of my restaurant with an API key google map.</h3>
<br>
<br>
<br>
<p>------------------------------------------------------------------------------------------------</p>

<h3> Third project</h3>

<img src="/Assets/images/third.jpg" class="pr-8"/>

<h3>On this project, I create the sign-up form </h3>

<p>------------------------------------------------------------------------------------------------</p>





<%- include ('../_partial/_footer'); -%>